body{
	background-image: url('swirl_pattern.png');
}

h2{
	color: #658DF3;
	font-size: 40px;
	font family: "Passion One";
	margin-bottom: 0px;
}

h3{
	color: #FF5858;
	font-size: 40px;
	font family: "Passion One";
	margin-bottom: 0px;
}

#Center-Form{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#Center-Form legend{
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 10px;
	 font-size: 40px; 
	 font-family: "Passion One"; 
	 color: #FF5858; 
	 font-weight: bold;
}

#PI{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#PI legend{
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 10px;
	 font-size: 40px; 
	 font-family: "Passion One"; 
	 color: #FF5858; 
	 font-weight: bold;
}

#Avail legend{
	 text-align: left;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 10px;
	 font-size: 40px; 
	 font-family: "Passion One"; 
	 color: #FF5858; 
	 font-weight: bold;
}

#days_available {
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 10px;
	 font-size: 20px; 
	 font-family: "Passion One"; 
	 color: black; 
	 font-weight: bold;
}
